{% extends 'polls/base.html' %}
{% load static %}

{% block title %}日記詳細 | Category Management{% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block contents %}

<div class=".container">
    <div class=".row">
        <div class="my-div-style w-100">
        
            <div class="col-md-3">
                <font size=4><strong>タイトル</strong></font>
            </div>
            <div class="col-md-12">
                <font size=7>
                    {{ object.title}}
                </font>
            </div>
        </div>
        <hr>

        <div class=".row">
            <div class="col-lg-3">
                <font size=4><strong>本文</strong></font>
            </div>
            <div class="col-lg-12">
                <font size=6>
                   {{ object.content|linebreaksbr }}
                </font>
            </div>
        </div>

        <hr>

        <div class=".row">
            <div class="col-lg-3">
                <font size=4><strong>写真</strong></font>
            </div>
            <div class="col-lg-3">
                {% if object.photo1 %}
                    <img class="img-fluid rounded-circle" src="{{ object.photo1.url}}" alt="">
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if object.photo2 %}
                    <img class="img-fluid rounded-circle" src="{{ object.photo2.url}}" alt="">
                {% endif %}
            </div>
            <div class="col-lg-3">
                {% if object.photo3 %}
                    <img class="img-fluid rounded-circle" src="{{ object.photo3.url}}" alt="">
                {% endif %}
            </div>
        </div>

        <hr>

        <div class=".row">
            <div class="col-lg-3">
                <font size=2><strong>作成日時</strong></font>
            </div>
            <div class="col-lg-9">
                {{ object.created_at }}
            </div>
        </div>

        <hr>

        <div class=".row">
            <div class="col-lg-3">
                <font size=2><strong>更新日時</strong></font>
            </div>
            <div class="col-lg-9">
                {{ object.updated_at }}
            </div>
        </div>
        <a class="btn btn-success mt-5 mb-3" href="{% url 'polls:management_update' object.pk %}">編集</a>
        <a class="btn btn-danger mt-5 mb-3" href="{% url 'polls:management_delete' object.pk %}">削除</a>
    </div>
</div>
{% endblock %}